In [25]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.model_selection import cross_val_score

In [17]:
def pre_processed(df):
    
    df = df.drop(['Name', 'Ticket', 'Cabin'], axis=1)
    df['Gender'] = df['Sex'].map({'female': 0, 'male':1}).astype(float)
    df['Port'] = df['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(float)
    df = df.drop(['Sex', 'Embarked'], axis=1)
    cols = df.columns.tolist()
    cols = [cols[1]] + cols[0:1] + cols[2:]
    df = df[cols]
    df = df.fillna(-1)


    return df

In [4]:
df = pd.read_csv("../../machinelearning/machinelearningclass/datasets/titanic/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
df_ = pre_processed(df)
df_.head()

   Survived  PassengerId  Pclass   Age  SibSp  Parch     Fare  Gender  Port
0         0            1       3  22.0      1      0   7.2500     1.0   2.0
1         1            2       1  38.0      1      0  71.2833     0.0   1.0
2         1            3       3  26.0      0      0   7.9250     0.0   2.0
3         1            4       1  35.0      1      0  53.1000     0.0   2.0
4         0            5       3  35.0      0      0   8.0500     1.0   2.0

In [20]:
dataset = {
    'data': df_.values[0:, 2:],
    'target': df_.values[0:,0]
}

In [42]:
clf_tree = tree.DecisionTreeClassifier(criterion='entropy', max_depth=4)
scores_tree = cross_val_score(clf_tree, dataset['data'], dataset['target'], cv=5, scoring='accuracy') 
scores_tree.mean()

0.8103614563795067

In [43]:
clf_tree.fit(dataset['data'], dataset['target'])

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [82]:
third_class_mean_fare = df['Fare'].loc[df['Pclass']==3].mean()
first_class_mean_fare = df['Fare'].loc[df['Pclass']==1].mean()
print(third_class_mean_fare, first_class_mean_fare)

13.675550101832993 84.1546875

In [83]:
jack = {
    'Pclass': 3,
    'Age': 23,
    'SibSp': 0, 
    'Parch': 0,
    'Fare': third_class_mean_fare,
    'Gender': 1,
    'Port': 2
}

In [84]:
values_ = list(jack.values())

In [85]:
clf_tree.predict([values_])

array([0.])

In [86]:
rose = {
    'Pclass': 1,
    'Age': 17,
    'SibSp': 1, 
    'Parch': 2,
    'Fare': first_class_mean_fare,
    'Gender': 0,
    'Port': 2
}

In [87]:
values_ = list(rose.values())

In [88]:
clf_tree.predict([values_])

array([1.])